:root {
  --title-color: #cdcdcd;
  --title-gray: #A5A5A1;
  --description-gray: #cecece;
	--title-gray_dark: #a6a6a6;
  --blue-elements: #045D8A;
  --blue-light: #4F95FF;
  --red-main: #C7261C;
  --article-header: #3f576d;
  --article-text: #2f2f2f;
  --article-menu-link: #1a1a1a;
  --swiper-theme-color: var(--blue-light);
}
/* roboto-slab-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v13-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v13-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v13-latin_cyrillic-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-slab-v13-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v13-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v13-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v13-latin_cyrillic-500.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-600 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-slab-v13-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v13-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v13-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v13-latin_cyrillic-600.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-slab-v13-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v13-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v13-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v13-latin_cyrillic-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-800 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-slab-v13-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v13-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v13-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v13-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v13-latin_cyrillic-800.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab';
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::before,
*::after {
  padding: 0;
	bottom: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
	list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.pages__wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.main__container {
  position: relative;
	display: block;
	min-height: 100vh;
}


.pages_container {
	width: 100%;
	padding: 0 6.2vw 3vw 8.2vw;
	text-align: center;
	background: linear-gradient(to right, #101B23, #122A38, #101B23);;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 13;
}


/* ------------ menu ------------- */

.menu__list {
  z-index: 15;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 2.2vw;
  width: 100%;
  padding: 0 6.2vw 0 8.2vw;
}

.pages-menu__list {
  top: 1.6vw;
}

.mobile-header,
.mobile-menu__container {
  display: none;
}

.menu__item img {
  width: 2.2vw;
}

.menu__item-with-img {
  display: flex;
  align-items: center;
}


.menu-phone:not(:last-child) {
  margin-right: 1.3vw;
}

.article_menu-img {
  filter: brightness(0);
}

.menu-link {
  cursor: pointer;
  color: var(--title-gray);
  font-size: 1.3vw;
  transition: color 0.3s ease-in-out, filter 0.3s ease-in-out ;
}

.articles__menu-link {
  color: var(--article-menu-link);
}

.link__to-main {
  display: flex;
  align-items: center;
}

.menu-link:hover {
  color: var(--blue-light);
  filter: drop-shadow(0 0 15px var(--blue-light));
}

.menu-link:active {
  color: var(--red-main);
  filter: drop-shadow(0 0 15px var(--red-main));
}

.sub-menu__list {
  position: absolute;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slider__wrapper {
  display: none;
}

.type-item:hover .sub-menu__list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

.sub-menu__item {
  margin-top: 1vw;
}

.sub-menu__item .sub-menu-link{
  font-size: 1.3vw;
  color: var(--blue-light);
  transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.sub-menu__item .sub-menu-link:hover {
  color: var(--title-color);
  filter: drop-shadow(0 0 15px var(--title-color));
}

.sub-menu__item .sub-menu-link:active {
  color: var(--red-main);
  filter: drop-shadow(0 0 15px var(--red-main));
}

/* ------------ main ------------- */

.main-page__wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  padding-left: 8vw;
}

.logo__block {
  position: absolute;
  top: 42.9vh;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.pages__heading {
  position: relative;
  width: 100%;
	padding-top: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zero-content:after {
  content: '';
  height: 100%;
}

.logo__block .logo__title {
  padding-left: 3vw;
}

.logo__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.logo__link{
  width: 8.5vw;
}

.logo__title h1 {
  /* display: inline-block; */
  position: relative;
  text-transform: uppercase;
  line-height: 4.4vw;
  font-size: 6vw;
  font-weight: 600;
  color: var(--title-color);
}

.pages__title h1 {
	/* padding-left: 18.5vw; */
	line-height: 2.6vw;
  font-size: 4.42vw;
}

.block__type-img {
  margin: 5vw auto;
  width: 80vw;
}

.patent-img {
  width: 256px;
}

.block__name {
  width: 62vw;
  margin-top: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1vw;
	font-size: 2.65vw;
	color: var(--title-gray_dark);
}

.advantages__list {
  width: 77vw;
  padding: 5vw 0 1.2vw 5vw;
}

.advantages__list li {
  position: relative;
}

.advantages__list > li {
  padding: 0 0 1.4vw 3.5vw;
}

.advantages__list li::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 2.2vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/Check.svg);

}

.types__block {
  margin: 5vw auto;
  text-align: center;
}

.description-text {
  color: var(--description-gray);
  text-align: left;
  font-size: 1.33vw;
  line-height: 2vw;
  text-indent: 6vw;
}

.description-text_bold {
  font-weight: 700;
  font-size: 2vw;
  line-height: 38px;
  color: var(--blue-light);
}

.text__link {
  color: var(--blue-light);
}

.logo__title span {
  display: block;
  position: relative;
  top: -2.6vw;
  font-size: 3vw;
  font-weight: 600;
  line-height: 11.4vw;
  text-transform: uppercase;
  letter-spacing: 0.22vw;
  color: var(--blue-elements);
}

.social__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__group .block__name {
  margin: 3vw auto 9vw auto;
}

.block__map {
  padding: 5vw 0;
}

.advantages__list .description-text {
  text-indent: 0;
  text-align: left;
}

.block__map .description-text {
  text-indent: 0;
  text-align: center;
}

.background__wrapper {
  position: relative;
	display: block;
	min-height: 100vh;
}

.background__content {
  position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background: url(../img/Pictures/Stair_MainPage.jpg) 20% 50% / 100% no-repeat fixed;
}

.background__content:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #010A0Fea;
}

.column-block {
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	justify-content: right;
	align-items: flex-end;
	height: 100%;
	width: 6.2vw;
  z-index: 15;
}

.left-blue-block {
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 1.3vw;
  top: 0;
	left: 0;
  background-color: var(--blue-elements);
}

.red-block {
	position: relative;

	width: 50%;
	height: 77.5%;
	background-color: var(--red-main);
}

.red-block_pages {
  height: 100%;
  top: 13.1vw;
}

.red-block span {
	display: block;
	position: absolute;
	color: yellow;
  top: 16vw;
  left: 1.5vw;
	width: 20vw;
	font-size: 1.15vw;
	transform-origin: left center;
	transform: rotate(-90deg);
}

.red-block_pages span {
  top: 21vw;
}

.blue-block {
	position: relative;
	width: 50%;
	height: 57%;
	background-color: var(--blue-elements);
}

.blue-block_pages {
  height: 100%;
  top: 24.3vw;
}

/* -----------  All about stairs -------------- */

.articles__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.articles__container {
  position: relative;
	width: 100%;
	padding: 0 6.2vw 3vw 8.2vw;
	text-align: center;
	background-color: aliceblue;
}

.article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0 2vw 0;
}

.articles-list__container {
  padding: 10vw;
}

.articles__list {
  text-indent: 0;
  text-align: left;
}

.articles__list li {
  padding-bottom: 2vw;
}

.article-link {
  font-weight: 700;
  font-size: 2vw;
  text-transform: uppercase;
  line-height: 38px;
  color: var(--blue-light);
}

.article_title h1 {
  color: var(--article-header);
  line-height: 5vw;
}

.article-text {
  color: var(--article-text);
  font-size: 1.2vw;
  text-align: left;
  padding: 2vw 0 2vw 0;
}

.article-description {
  font-style: italic;
  font-size: 1vw;
  color: var(--blue-elements);
}

.article_image {
  width: 60vw;
}

.article-img__block {
  display: flex;
  /* flex-wrap: wrap; */
}

.article-img__block_name {
  padding: 2vw 0 2vw 0;
}

.article-img__block_heading {
  color: var(--article-header);
  font-weight: 700;
  font-size: 3vw;
}

.article-picture {
  flex: 1 1 auto;
  margin: 2vw;
  border: 1px solid var(--blue-elements);
  border-radius: 1.5vw;
  overflow: hidden;
}

.article-picture img {
  margin: 0 0 -4px 0;
}


.article-link:hover {
  color: white;
  filter: drop-shadow(0 0 15px var(--blue-light));
}


/* ------------- footer Desktop --------------- */

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 3vw;
  left: 0;
  z-index: 5;
  padding: 0 9.5vw 0 8.2vw;
}

.footer__article {
  background-color: black;
  bottom: 0;
  padding: 1vw 9.5vw 1vw 8.2vw;
}

.pages__wrapper footer {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 4;
  bottom: 0;
  padding: 2vw 8vw;
  background-color: black;
}

.footer .menu-link {
  line-height: 2.5vw;
}

.footer-phones {
  display: none;
}

.social__block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 10vw; */
}

.social__block .menu-link {
  display: block;
  width: 3.2vw;
  height: 3.2vw;
}

.social__block .menu-link:not(:last-child) {
  margin-right: 1.7vw;
}

.social__icon {
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}

.social__icon:hover,
.social__icon:active  {
  filter: brightness(1.7);
}

  /* ---------- Pages Slider -------------  */

  .pages-slider__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 5vw;
  }

  .pages-slider__wrapper .pages__image-slider {
    height: 49.7vw;
    overflow: hidden;
  }

  .pages-swiper-pagination {
    position: absolute;
    bottom: 0.5vw;
    font-size: 2vw;
    z-index: 7;
    color: var(--title-gray);
  }

  .pages__image-slider .swiper-button-prev,
  .pages__image-slider .swiper-button-next {
    top: 49%;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .pages__image-slider .swiper-button-next::after,
  .pages__image-slider .swiper-button-prev::after {
    color: var(--blue-light );
    font-size: 3vw;
  }

  .image-frame img{
    width: 100%;
  }



/* ------------- 1440 -------------- */

@media (max-width: 1440px) {

  .menu-link {
    font-size: 1.6vw;
  }

}

/* ------------- 1024 -------------- */

@media (max-width: 1024px) {

  .mobile-header {
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 8px 30px 8px 30px;
    background-color: var(--blue-elements);
  }

  .mobile-header .logo__link {
    line-height: 0;
    width: 48px;
    position: relative;
    display: block;
  }

  .menu__list {
    display: none;
  }

  .logo__block {
    position: absolute;
    top: 25vh;
    left: 19vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo__link{
    width: 36vw;
  }

  .logo__block .logo__title {
    padding-left: 0;
  }

  .logo__title {
    padding-left: 0;
    padding-top: 3vw;
  }

  .column-block {
    display: none;
  }

  /* ------------  burger ------------ */

  .burger {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 6;
    cursor: pointer;
  }

  .burger span,
  .burger::before,
  .burger::after {
    left: 0;
    position: absolute;
    /* transform-origin: center; */
    height: 5px;
    width: 35px;
    transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
    background-color: #fff;
  }

  .burger::before,
  .burger::after {
    content: "";
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .burger._active span {
    transform: scale(0) translate(0, -50%);
  }

  .burger._active::before {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  .burger._active::after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(45deg);
  }

  /* ------------  mobile menu ------------ */

  .mobile-menu__container {
    position: fixed;
    display: block;
    z-index: 12;
    top: 64px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.5s ease-in-out 0s;
    /* даёт скролить меню, если там много пунктов и не вмещаются в экран */
    overflow: auto;
  }

  .mobile-menu__container._active {
    left: 0;
  }

  .mobile-menu__list {
    display:flex;
    flex-direction: column;
  }

  .mobile-menu__list li {
    padding: 0.5vw 0 0.5vw 0;
  }

  .sub-menu__list {
    position: relative;
  }

  .mob-menu-link,
  .sub-menu-link {
    font-size: 25px;
    color: var(--title-gray);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  .sub-menu-link {
    color: var(--blue-light);
  }

  .sub-menu-link:active {
    color: var(--red-main);
    filter: drop-shadow(0 0 15px var(--red-main));
  }

  .mob-menu-link:active {
    color: var(--blue-light);
    filter: drop-shadow(0 0 15px var(--blue-light));
  }

  .mob-sub-menu__list {
    display: none;
  }

  .mob-item-type {
    position: relative;
  }

  .mob-item-type._active .mob-sub-menu__list {
    display: flex;
    flex-direction: column;
    padding: 10px 0 8px 30px;
  }

  .mob-item-type._active .mob-menu-link {
    color: var(--blue-light);
  }

  .menu__arrow {
    position: absolute;
    top: 11px;
    left: 200px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #fff;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
  }

  .menu__arrow._active {
    transform: rotate(180deg);
    border-top: 12px solid var(--red-main);
  }

  /* -------------- mobile content ------------------- */

  .pages_container {
    padding: 0 6vw 8vw 5vw;
  }

  .pages__heading {
    padding-top: 34vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pages__heading .pages__title {
    padding: 9vw 0 7vw 0;
  }

  .pages__title h1 {
    line-height: 11vw;
    font-size: 9.42vw;
  }

  .block__name {
    line-height: 7vw;
    font-size: 4.65vw;
  }

  .types__block {
    margin: 11vw auto;
  }

  .description-text {
    font-size: 5vw;
    line-height: 6.5vw;
    text-indent: 8vw;
  }

  .description-text_bold {
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    color: var(--blue-light);
  }

  .advantages__list {
      width: 88vw;
      padding: 5vw 0 1.2vw 5vw;
  }

  .advantages__list li::before {
    width: 6.2vw;
    left: -4vw;
  }

  .left-blue-block {
    display: none;
  }

  .block__type-img {
    margin: 1vw auto;
    width: 80vw;
  }

  /* -------------- Main mobile slider --------------- */

  .slider__wrapper {
    display: block;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 80vh;
    top: 63px;
    padding: 10% 0 10% 0
  }

  .block-swiper {
    margin: 0 auto;
    max-width: 100%;
    /* background-color: transparent; */
  }

  .swiper-container {
    width: 100%;
    height: 83vh;
  }

  .picture-container {
    text-align: center;
  }

  .picture-container img {
    width: 100vw;
  }

  .swiper-pagination {
    color: var(--title-gray);
    font-size: 3vw;
    bottom: 35px;
  }

  .pointer {
    position: absolute;
    z-index: 12;
    bottom: 25px;
    left: 48.5vw;
  }

  .pointer__arrow {
    display: block;
    content: '';
    width: 4vw;
    height: 4vw;
    transform: rotate(-45deg);
    border-left: 3px solid var(--blue-light);
    border-bottom: 3px solid var(--blue-light);
  }

  /* ---------- Pages Slider mobile -------------  */

  .pages__image-slider .swiper-button-prev,
  .pages__image-slider .swiper-button-next {
   display: none;
  }

  .pages__image-slider .pages-swiper-pagination {
    bottom: -1.5vw;
    font-size: 3vw;
  }

  /* ---  All about stairs mobile --------- */

  .articles__list li {
    padding-bottom: 6vw;
  }

  .article-link {
    font-size: 4vw;
    line-height: 5vw;
  }

  .article-link:focus {
    color: white;
    filter: drop-shadow(0 0 15px white);
  }

  .article-link:active {
    color: var(--red-main);
    filter: drop-shadow(0 0 15px var(--red-main));
  }

  .article_image {
    width: 100%;
  }

  /* --------- articles mobile -----------  */

  .article-text {
    text-align: left;
    font-size: 4vw;
  }

  .article-description {
    font-size: 4vw;
  }

  .article-img__block_heading {
    font-size: 7vw;
  }

  .article-img__block_name {
    padding: 6vw 0 6vw 0;
  }

  .article-picture {
    margin: 1vw 0 1vw 0;
  }

  .article-img__block {
    flex-wrap: wrap;
  }

  /* ---------- mobile footer ------------  */

  .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vw;
    bottom: -80vw;
    left: 0;
    z-index: 5;
    padding: 11vw 0 11vw 0;
    background-color: black;
  }

  .footer__article {
    height: 92vw;
    position: relative;
    bottom: 0;
  }

  .pages__wrapper .footer {
    display: flex;
    position: relative;
    bottom: 0;
    padding: 11vw 0 11vw 0;
  }

  .footer .footer-contacts {
    font-size: 6vw;
    color: var(--blue-light);
  }

  .footer .footer-contacts:active {
    color: var(--red-main);
  }

  .footer-phones {
    display: flex;
  }

  .footer-phones .menu-phone {
    width: 10vw;
  }

  .social__block {
    position: relative;
    height: 14vw;
    align-items: unset;
  }


  .footer__block-phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
  }

  .footer__block-phones .menu-link {
    color: var(--title-gray);
    font-size: 6.5vw;
    line-height: 0;
  }

  .footer__block-phones .menu-link:not(:last-child) {
    margin-bottom: 10vw;
  }

  .social__block .menu-link {
    width: 15vw;
  }

  .social__block .menu-link:not(:last-child) {
    margin-right: 10vw;
  }

}
